body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Source Sans Pro', sans-serif;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.box-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .10);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

    .caption h4 {
        white-space: nowrap;
    }

.thumbnail img {
    width: 100%;
}

.addToCart {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }


.navbar {
    background-color: white;
}

.navbar-inverse {
    background-color: #a593c2;
    border-color: #a593c2;
}

.nav navbar-nav right {
    text-align: right;
}


.nav.navbar-nav.navbar-right li a {
    color: black;
    font-size: 1.2em;
}

.navbar .nav > li > a {
    font-size: 1.2em;
    color: black;
}

.carousel .item {
    height: 400px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}